1. Data structure and its importance:
  

*   Data structure is way of organizing and storing data so that it can be accessed and manipulated easily and efficiently. Few builtin data structures in Python are - Lists, Tuples, Set etc

Importance of Data structure:

*   Data structure helps in efficient and faster retrival of data depending upon different scenarios of the problem.
*   Data structure also makes programming easier.
*   Data structure helps in faster resolution of problem statements.

2. Difference between mutable and immutable data types:



*   Mutable data types allow chang in the values in due course of progremming withou creating any other object. Example List data type in Python is a mutable data type.

In [ ]:
a=[1,3,"Mango","Banana"]
a

[1, 3, 'Mango', 'Banana']

In [ ]:
a.append("Orange")

In [ ]:
a

[1, 3, 'Mango', 'Banana', 'Orange']


*   Immutable data types do not allow any changes to their values. Example: Tuple

In [ ]:
a=(1,2,"mango")

In [ ]:
a

(1, 2, 'mango')

In [ ]:
a[2]

'mango'

In [ ]:
a[2]= "Banana"

TypeError: 'tuple' object does not support item assignment

3. Difference between List and Tuple in Python
  Main Difference List and Tuple in Python is Tuple is immutable data type whereas List is mutable data type. List used to order items under one variable which can be added,removed and replaced but Tuples are used to order items under  one variable which is needed to be unchanged.

4. How Dictionary Stores data ?
   Dictionary in Python stores data in form of pair that is Key and Value. It is a ordered and changeable collection data but do not allow duplicates. These are generally written in curly brackets and the key and values are separated by ":".

In [ ]:
my_dict={"brand":"Skoda","model":"Slavia","year":"2021"}
my_dict

{'brand': 'Skoda', 'model': 'Slavia', 'year': '2021'}

5. Use of a Set instead of a List in Python:


*   Set is used for storing a collection of unique data items without any order sequence but List stores data in an ordred sequence of items along with duplicates of the items.
*  Set are of faster search speed than List
*   For large data sets , Set performs faster in iteration over unique elements than List

6. String in Python and How it is different than a List?
   String is a sequence of characters  and it is used to represent and manipulate textual data. Both String and List are sequenced types in Python but there are few differences in between them-


  Strings are immutable but lists are mutable i.e the content in a string can
not be altered once its created, if you still want to modify a string then you need to create a new string.
  Strings can only contain characters whereas Lists can have elements of any data type.

7. How do Tuples ensure data integrity in Python?
   Data intigrity is basically known as accuracy, consistency and reliabilty of data through out its lifecycle. Tuples in Python are immutable i.e the data contained by a Tuple cannot be changed once it is being created. Hence the data in a Tuple can not be modified, added or removed through out its life cycle. This is why Tuples in Python ensure data integrity.

8. What is hash table and how does it relates to Dictionaries in Python?
   In Python Dictionaries are implemented using hash table. The hash tables are data structures which stores Key-Value pairs, where each key is unique and used to access its coressponding value. It mainly uses hash function to compute an index in an array of slots where the value associated with the key is stored.

9. Can Lists contain different data types in Python?
     Yes lists can contain different data types in Python as they are heterogenous in nature. Lists are versatile without any strict constraints on their elements i.e. a single list can hold integers,strings,floats, booleans etc.

10. Why Strings are immutable in Python?
Strings in Python are immutable,as thier content can never be changed or modified once they are created. Due to this property of strings, they are used as dictionary keys.The immutability of strings helps in hashing, performance optimization, safety and ease of use.

11. Advantages of dictionary over list for certain tasks:


*   While dealing with large data sets dictionaries are  faster for lookups than the List as dictionaries implements hash table for data retrival whereas list require sequential traversal.
*   dictionaries stores dta in Key-value pair which provides more systamatic,intuitive,readable and easily managable of dta representation and retrieval but List storeselements of different data types and need knowledge of index for data retrieval.
*   Dictionaries and Lists both are dynamic but Dictionaries provied efficient ways to manage data modifications due to their key based organization.

12. A scenario where Tuple is preferable over List
In Python Tuples are Immutable and of a fixed size. They are faster and more memory efficient than lists.Tuples are preferred when immutable sequence is needed such as constant data.
Example: Consider a scenrio where you need to store informations about students studying in a school. In that case you need to have their name, address and zip code. These are the items that rarely changes and its needed to be unultered.

In [ ]:
home_address={("Rahul","Jayanagar","560077"), ("Arjun","Muthy Nagar","560043"),("Kalpana","RT Nagar","560079")}

In [ ]:
print(home_address)

{('Arjun', 'Muthy Nagar', '560043'), ('Rahul', 'Jayanagar', '560077'), ('Kalpana', 'RT Nagar', '560079')}

13. How do sets handle duplicate values in Python?
Sets in Python stores only unique values.They automatically discrad the duplicate values even if added to it by a programmer.

In [ ]:
a={1,2,3,4,3,2,5,7,1,8,5}
type(a)

set

In [ ]:
print(a)

{1, 2, 3, 4, 5, 7, 8}

14. How does the "in" key word works differently for lists and dictionaries?
Example

In [ ]:
a=["php","pdf","pnp","npn"]
if "pdf" in a:
  print (True)
else:
    print ("pdf not found in the list")

True

In [ ]:
d={"Maya":23, "Banita":24, "Hema":20}
if "Maya"in d:
  print ("Maya's marks:",d["Maya"])

Maya's marks: 23

15. Can you modify elements of a Tuple?
In Python Tuples are immutable, their elements can not be modified after created.

In [ ]:
my_tup= (1,2,3)
type(my_tup)

tuple

In [ ]:
my_tup[0]=7

TypeError: 'tuple' object does not support item assignment

16. Nested Dictionary
A dictionary that contains dictionaries in it , is called nested dictionary. Example

In [ ]:
a={1:{"name":"Merry","Age":"35","gender":"F"},2:{"name":"Jhon","Age":"38","gender":"M"}}
print(a[1]["Age"])

35

17. Time complexity of accessing an element in dictionary
Time complexity of accessing n element / value by its key in a dictionary in Python is o(1), i.e. it takes constant time regardless of the size of the dictionary.This is due to dictionaries use hash table internally for data retrieval which allows constant time lookup.

18. In which situation Lists are preferred over Dictionaries?
Lists are preferred when there is a need for orderd collection of data and sequential operation like maintaining a stack or queue. A scenario where data manipulation is needed the list are preferred as they can store heterogenous data in a systematic manner and it also allows duplicate data items.

19. Why are Dictionaries are considered as unordered , and how does that affect data retrieval?
Dictionaries in Python are unordered as they do not have a track over the items based on when they added to it.In case of dictionary in python we need to provide 'key' to access the corresponding value of the 'key'.

20. Difference between List and dictionary in terms of data retrieval:


*   A list is anordered collection of data retrieval and a dictionary is an unordered collection of data in the form of Key:value pair.
*   Elements of a List is accessed using index whereas elements in a dictionary is accessed using key.
*   Look up time is faster in case of Dictionaries as compared to Lists

                                 ** PRACTICAL QUESTIONS**

1.  Code to create a string of your name and Print it

In [ ]:
strng=("Malabika Patnaik")
type(strng)

str

In [ ]:
print(strng)

Malabika Patnaik

2. Code to find the length of a string "Hello World"

In [ ]:
a=("Hello World")
len(a)

11

3. Code to slice first 3 character of a string "Python Programming"

In [ ]:
a=("Python Programming")
a[0:3]

'Pyt'

4. Code to convert string "hello" to upper case

In [ ]:
a=("hello")
a.upper()

'HELLO'

5. Code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
a=("I like apple")
x=a.replace("apple","orange")
print(x)

I like orange

6. Code to create a list of numbers 1 to 5 and print it.

In [ ]:
a=[1,2,3,4,5]
type(a)

list

In [ ]:
print(a)

[1, 2, 3, 4, 5]

7. Code append 10 to the list [1,2,3,4,5]

In [ ]:
a=[1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

8. Code to remove 3 from the list [1,2,3,4,5]

In [ ]:
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a','b','c','d']

In [ ]:
a=['a','b','c','d']
a[1]

'b'

10. Code to reverse the list [10,20,30,40,50]

In [ ]:
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

11. Code to create a Tuple with elements 100,200,300 and print it

In [ ]:
tup=(100,200,300)
type(tup)

tuple

In [ ]:
print(tup)

(100, 200, 300)

12. Code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
Tup_color=('red','green','blue','yellow')
Tup_color[-2]

'blue'

13. code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
t=(10,20,5,15)
min(t)

5

14. code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tup=('dog','cat','rabbit')
x=tup.index('cat')
print(x)

1

15. code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
tup=('banana','kiwi','mango')
if 'kiwi' in tup:
  print('kiwi is in the tuple')
else:
  print('kiwi not in the tuple')

kiwi is in the tuple

16.  code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set={'a','b','c'}
type(set)

set

In [ ]:
print(set)

{'c', 'a', 'b'}

17. code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4,5}
type(a)

set

In [ ]:
a.clear()

In [ ]:
print(a)

set()

18.  code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set={1,2,3,4}
set.remove(4)

In [ ]:
print(set)

{1, 2, 3}

19. code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a={1,2,3}
b={3,4,5}
x= a.union(b)
print(x)

{1, 2, 3, 4, 5}

20. code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a={1,2,3}
b={3,4,5}
y= a.intersection(b)
print(y)

{3}

21.code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict= {'name':'Malabika','age':30,'city':'Bangalore'}
print(my_dict)

{'name': 'Malabika', 'age': 30, 'city': 'Bangalore'}

22. code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict={'name':'John','age':25}
type(dict)

dict

In [ ]:
dict.update({'country':'USA'})
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
a={'name':'Alice','age':30}
print(a.get('name'))

Alice

24.code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
a={'name':'Bob','age':22,'city':'New York'}
del a['age']

In [ ]:
print(a)

{'name': 'Bob', 'city': 'New York'}

25. code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [ ]:
a={'name':'Alice','city':'Paris'}
if 'city' in a:
  print ("city is in dictionary")

city is in dictionary

26. code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list=['a','b','keys','value','Mumbai',100,250]
type(my_list)

list

In [ ]:
print(my_list)

['a', 'b', 'keys', 'value', 'Mumbai', 100, 250]

In [ ]:
my_tup=(250,100,"Mumbai","Keys")
type(my_tup)

tuple

In [ ]:
print(my_tup)

(250, 100, 'Mumbai', 'Keys')

In [ ]:
my_dict={'City':'Mumbai','temperature':'250F','Bus Number':'100'}
type(my_dict)

dict

In [ ]:
print(my_dict)

{'City': 'Mumbai', 'temperature': '250F', 'Bus Number': '100'}

27. code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [ ]:
num_list=[45,59,77,18,98]
num_list.sort()
print(num_list)

[18, 45, 59, 77, 98]

In [ ]:
num_list.sort(reverse=True)
print(num_list)

[98, 77, 59, 45, 18]

28. code to create a list with strings and print the element at the third index.

In [ ]:
s=["mango","morning","monday","magic"]
type(s)

list

In [ ]:
print(s[3])

magic

29. code to combine two dictionaries into one and print the result.

In [ ]:
from typing_extensions import Concatenate
a={'name':'rahul','city':'delhi','age':28}
b={'name1':'jagannath','city1':'kolkata','age1':48}
m=a|b
print(m)

{'name': 'rahul', 'city': 'delhi', 'age': 28, 'name1': 'jagannath', 'city1': 'kolkata', 'age1': 48}

30. code to convert a list of strings into a set.

In [ ]:
list=["bag","mango","kite","house"]
my_set={list[0],list[1],list[2],list[3]}
print(my_set)

{'mango', 'house', 'bag', 'kite'}